/* line 4, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body {
  background-image: url(fondo.jpg);
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}
/* line 16, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body h3, body h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #111;
}
/* line 22, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .container {
  padding: 80px 120px;
}
/* line 25, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
/* line 32, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .person:hover {
  border-color: #f1f1f1;
}
/* line 35, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(10%);
  /* make all photos black and white */
  width: 100%;
  /* Set width to 100% */
  margin: auto;
}
/* line 41, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .carousel-caption h3 {
  color: #fff !important;
}
@media (max-width: 600px) {
  /* line 45, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
  body .carousel-caption {
    display: none;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
/* line 49, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}
/* line 53, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .bg-1 h3 {
  color: #fff;
}
/* line 54, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .bg-1 p {
  font-style: italic;
}
/* line 55, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
/* line 59, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 63, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
/* line 68, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .thumbnail p {
  margin-top: 15px;
  color: #555;
}
/* line 72, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
/* line 79, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .btn:hover, body .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}
/* line 84, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .modal-header, body h4, body .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}
/* line 90, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .modal-header, body .modal-body {
  padding: 40px 50px;
}
/* line 93, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .nav-tabs li a {
  color: #777;
}
/* line 96, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body #googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 102, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.7;
}
/* line 111, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .navbar li a, body .navbar .navbar-brand {
  color: #d5d5d5 !important;
}
/* line 114, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .navbar-nav li a:hover {
  color: #fff !important;
}
/* line 117, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
/* line 121, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .navbar-default .navbar-toggle {
  border-color: transparent;
}
/* line 124, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
/* line 128, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .dropdown-menu li a {
  color: #000 !important;
}
/* line 131, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .dropdown-menu li a:hover {
  background-color: red !important;
}
/* line 134, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
/* line 139, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body footer a {
  color: #f5f5f5;
}
/* line 142, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body footer a:hover {
  color: #777;
  text-decoration: none;
}
/* line 146, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body .form-control {
  border-radius: 0;
}
/* line 149, /home/fer/proyectos/CDA1/app/assets/stylesheets/home.scss */
body textarea {
  resize: none;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
/* line 3, /home/fer/proyectos/CDA1/app/assets/stylesheets/login.scss */
.body1 {
  background-image: url(login.jpg);
  padding: 40px;
  font-family: "Open Sans Condensed", sans-serif;
}

/* line 9, /home/fer/proyectos/CDA1/app/assets/stylesheets/login.scss */
#bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(login.jpg);
  background-size: cover;
  -webkit-filter: blur(10px);
}

/* line 20, /home/fer/proyectos/CDA1/app/assets/stylesheets/login.scss */
form {
  position: relative;
  width: 250px;
  margin: 0 auto;
  background: rgba(130, 130, 130, 0.3);
  padding: 20px 22px;
  border: 1px solid;
  border-top-color: rgba(255, 255, 255, 0.4);
  border-left-color: rgba(255, 255, 255, 0.4);
  border-bottom-color: rgba(60, 60, 60, 0.4);
  border-right-color: rgba(60, 60, 60, 0.4);
  -webkit-border-radius: 20px 20px;
  /* Safari  */
  -moz-border-radius: 100px 10px;
  /* Firefox */
}

/* line 36, /home/fer/proyectos/CDA1/app/assets/stylesheets/login.scss */
form input, form button {
  width: 212px;
  border: 1px solid;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(60, 60, 60, 0.35);
  border-top-color: rgba(60, 60, 60, 0.35);
  border-left-color: rgba(80, 80, 80, 0.45);
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  padding: 8px 24px 8px 10px;
  font: bold .875em/1.25em "Open Sans Condensed", sans-serif;
  letter-spacing: .075em;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 19px;
}

/* line 53, /home/fer/proyectos/CDA1/app/assets/stylesheets/login.scss */
form input:focus {
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 55, /home/fer/proyectos/CDA1/app/assets/stylesheets/login.scss */
form input.email {
  background-image: url(login.jpg);
  background-position: 220px 10px;
}

/* line 60, /home/fer/proyectos/CDA1/app/assets/stylesheets/login.scss */
form input.pass {
  background-image: url(login.jpg);
  background-position: 223px 8px;
}

/* line 65, /home/fer/proyectos/CDA1/app/assets/stylesheets/login.scss */
::-webkit-input-placeholder {
  color: #ccc;
  text-transform: uppercase;
}

/* line 66, /home/fer/proyectos/CDA1/app/assets/stylesheets/login.scss */
::-moz-placeholder {
  color: #ccc;
  text-transform: uppercase;
}

/* line 67, /home/fer/proyectos/CDA1/app/assets/stylesheets/login.scss */
:-ms-input-placeholder {
  color: #ccc;
  text-transform: uppercase;
}

/* line 69, /home/fer/proyectos/CDA1/app/assets/stylesheets/login.scss */
form button[type=submit] {
  width: 248px;
  margin-bottom: 0;
  color: #3f898a;
  letter-spacing: .05em;
  text-shadow: 0 1px 0 #133d3e;
  text-transform: uppercase;
  background: #225556;
  border-top-color: #9fb5b5;
  border-left-color: #608586;
  border-bottom-color: #1b4849;
  border-right-color: #1e4d4e;
  cursor: pointer;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

